<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página do Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color ="danger">
    <ion-card-header>
      <ion-card-subtitle>Prazo para envio de tarefas</ion-card-subtitle>
      <ion-card-title>Esgotando prazo para envio das tarefasa</ion-card-title>
      <ion-card-content>
        No próximo final de semana encerra-se o prazo para o envio das tarefas de N2.
      </ion-card-content>
    </ion-card-header>
  </ion-card>




  <ion-card>
    <ion-img src="../assets/imagem-ionic.png"></ion-img>
    <ion-card-content>
      <ion-card-title>São Lucas Ji-Paraná oferta curso de Ionic</ion-card-title>
      <p>O Centro Universitário São Lucas de Ji-Paraná irá ofertar para os alunos de S.I. um curso de Ionic Framework.</p>
    </ion-card-content>
  </ion-card>

  <ion-card-header>
    <ion-card-subtitle>Oportunidade de trabalho</ion-card-subtitle>
    <ion-card-title>Contrata-se Dev. Mobile</ion-card-title>
    <ion-card-content>
      Grande empresa de tecnologia contrata desenvolvimento de aplicativos.
    </ion-card-content>
  </ion-card-header>

  <ion-card>
    <ion-item href="https://pt.wikipedia.org/wiki/Rede_sem_fio" class="activated">
      <ion-icon name="wifi" slot="start" ></ion-icon>
      <ion-label>Wifi</ion-label>
    </ion-item>

    <ion-item href="#" class="activated">
      <ion-icon name="warning" slot="start" ></ion-icon>
      <ion-label>Atenção</ion-label>
    </ion-item>

    <ion-item href="https://www.ecycle.com.br/beneficios-de-andar-de-bicicleta/" class="activated">
      <ion-icon name="bicycle" slot="start" ></ion-icon>
      <ion-label>Benefícios de Pedalar</ion-label>
    </ion-item>
  </ion-card>



</ion-content>



